@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito', sans-serif !important;
  list-style: none;
}

html {
  font-size: 1em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 0.9em;
  }
}

/* 24 inch iMac ----------- */
@media only screen and (min-width: 1600px) {
  html {
    font-size: 1.05em;
  }
}
/* 27 inch iMac ----------- */
@media only screen and (min-width: 2400px) {
  html {
    font-size: 1.2em;
  }
}

nav,
div {
  box-sizing: border-box !important;
}
